
* {
  box-sizing: border-box;
}

@font-face {
  src: url(../fonts/olney/olney_light.otf);
  font-family: olney;
}

body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}



.homePage {
  display: flex;
  padding-bottom: 100px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #000727;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/makeyourmove.jpeg");
  background-position: center;

}

.name {
  margin: 20px;
  font-family: olney;
  font-size: 60px;

}


.nameIcon1, .nameIcon2 {
  display: flex;
  align-items: center;
}

.roleTitle {
  text-align: center;
  margin: 20px;
  font-family: olney;
  font-size: 40px;
}
.aboutMe {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}

.hobbies {
  text-align: center;
  font-size: 32px;
}
.innerText {
  font-size: 18px;
  padding:  80px 80px 40px 80px;
}

.innerText p {
  font-size: 18px;
  padding: 20px 0;

}
.otherSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skillsTitle {
  font-size: 40px;
}

.software-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.software-icons li {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.starter {
  font-size: 22px;
}

.cell {
  margin: 10px;
}

.cell i {
  padding: 5px;
}

.about {
  display: flex;
  height: 1200px;
  padding: 50px;
  flex-direction: column;
  font-family: olney;
  background-color: #96c0ff;
  color: black
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pixelImages, .podcastImage, .coctailzImage, .chessImage {
  max-height: 60vh;
  max-width: 50vw;
  margin: 30px;
}

.coctailzImage {
  height: 60vh;
}

.icons {
  font-size: 50px;
}

.projectsTitle {
  font-size: 50px;
  margin-top: 50px;
}
.projects {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: olney;
  background-color: rgb(0, 7, 39);
}

.pixelated, .podcastApp, .coctailzApp, .pawnEndgame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 25px;
}

.pixelSkills i{
  padding: 15px 10px;
}

.fourthProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pixelatedTitle, .podcastTitle, .chessTitle {
  font-size: 36px;
}

.innerPixelated, .innerPodcastText, .innerChessText {
  flex-wrap: wrap;
}

.twoButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.twoButtons a {
  margin: 0 50px;
}

.hiddenPixelImages, .hiddenCoctailzImage {
  display: none;
}

.hiddenPixelatedTitle, .hiddenPodcastTitle, .hiddenChessTitle {
  display: none;
}

.experience {
  background-color: #96c0ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* width: 100vw; */
  height: 1000px;
}

.experienceTitle {
  font-size: 50px;
  margin: 40px;
  font-family: olney;
  color: rgb(0, 7, 39);
}

.experienceList {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100vw;
}

.yesSir {
  text-align: center;
  padding-top: 10px;
}

.experienceBox {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 70px;
  width: 500px;
  height: 650px;
  padding: 55px;
  background-color: rgb(0, 7, 39);
  color: white;
  font-family: olney;
  box-shadow: 5px 8px 18px 9px #000000;
}

.experienceTitleInfo {
  position: relative;
  font-size: 26px;
  text-align: center;
  
}

.location {
  display: flex;
  font-size: 18px;

}

.location h2 {
  padding-right: 5px;
}


.jobInfo {
  padding-top: 20px;
  text-align: center;
}

.socials {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,7,39);
  width: 100vw;
}

.socials h1 {
  font-size: 50px;
  margin: 40px;
  font-family: olney;
  color: white
}
.buttonContainer a{
  padding: 10px;
}

@media only screen and (max-device-width: 1000px) {

  .pixelated, .podcastApp, .coctailzApp, .pawnEndgame {
    display: flex;
    flex-direction: column;
  }

  .rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .innerPixelatedText, .innerPodcastText, .innerChessText {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .pixelSkills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
  }

  .pixelatedTitle, .podcastTitle, .chessTitle {
    display: none;
  }

  .pixelSkills i {
    padding: 15px 10px;
  }

  .hiddenPixelImages, .hiddenCoctailzImage {
    display: flex;
    max-height: 60vh;
    max-width: 50vw;
    margin: 30px;
  }

  .pixelImages, .coctailzImage {
  display: none;
} 
.hiddenPixelatedTitle, .hiddenPodcastTitle, .hiddenChessTitle {
  font-size: 36px;
  display: flex;
}

}



@media screen and (max-device-width: 1024px) {

  /* .navbar, .navWrapperShrink {
    background-color: red;
  } */

  .navWrapperShrink {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navMenu {
    background-color: #000727;
    width: 100vw;
    height: auto;
  
  }

  .navWrapperShrink {
    color: white;
  }



}

@media screen and (min-device-width: 200px) and (max-device-width: 630px) { 
  .name {
    font-size: 10vw
  }

  .nameIcon1 i{
    font-size: 10vw;
  } 

  .nameIcon2 h2 {
    font-size: 7vw;
  }

}
@media screen and (max-device-width: 750px) { 
  .nameIcon2 i {
    display: none;
  }
}




@media only screen and (max-device-width: 910px) {
  .skillsTitle {

    font-size: 5vw;
  }

  .software-icons span {

    font-size: 2.5vw;
  }

  .software-icons li {
    padding: 1vw;
    margin: 1vw;
  }

  .about {
    display: flex;
    justify-content: space-between;
    height: 1500px;
  }

}

@media only screen and (max-device-width: 550px) {
  .software-icons i {
    display: none;
  }
  .innerText p{
    font-size: 4vw;
  }
}
@media only screen and (max-device-width: 700px) {
  .innerText {
    padding: 80px 20px;
  }
}
@media only screen and (max-device-width: 1530px)  and (min-device-width: 550px) {
  .experienceList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
  }

  .experience {
    overflow: auto;
  }



}

@media only screen and (max-device-width: 550px) {
  .experienceList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
  }

  .experience {
    overflow: auto;
  }

  
  .experienceBox {
    width: 70vw;
    height: 600px;
    overflow: auto;

  }
}

@media only screen and (max-device-width: 520px) {
  .pawnEndgame {
    width: 10vw;
  }

  .innerChessText {
    width: 70vw;
  }

  .twoButtons a {
    margin: 1vw;
    width: 30vw;
    font-size: 2vw;
  }
  .hiddenChessTitle {
    text-align: center;
    
  }
}

@media only screen and (max-device-width: 420px) {
  .otherSide {
    position: relative;
    top: -200px
  }
}
